{% extends 'base.html.twig' %}

{% block title %}Hello AcoutPasswordController!{% endblock %}

{% block body %}
 <div class="contenaireAcount">
    <div class="formAcount">
    <h1>Modiffier mon mot de passe</h1>
        {% if notification %}

        <div class="alert ">
            {{ notification }}
        </div>
        {% endif %}
        {{ form(form) }}
    <a class="submitChangePaswordRetrour" href="{{ path('chat')}}">Retourner sur le chat</a>

    </div>
 </div>
{% endblock %}
