{% extends 'base.html.twig' %}

{% block title %}Hello AcoutPasswordController!{% endblock %}

{% block body %}
<h1>Modiffier mon mot de passe</h1>
    
    {{ form(form) }}
<a href="{{ path('chat')}}">Annuler</a>
{% endblock %}
