{% extends 'base.html.twig' %}

{% block title %}Inscrivez Vous{% endblock %}

{% block body %}
<div class="containerRegister">
    <div class="formcontainerregister">
        <h1>inscription</h1>

        {{ form(form) }}
    </div>

</div>


{% endblock %}
