{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
<a href="{{ path('app_logout')}}">Ce déconecté</a>
<a href="{{ path('acout_password')}}">Modifier sont mot de passe</a>

{% endblock %}
